#lastfm-widget {
  color: red;
  width: 100%;
}

.lastfm-tracklist {
  border: 0px solid gold;
  display: grid;
  gap: 1rem;
}

.lastfm-track {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "image title timestamp"
    "image artist .";
}

.lastfm-image {
  grid-area: image;
  max-width: 100%;
  margin-right: 10px;
}

.lastfm-info {
  display: contents;
}

.lastfm-title {
  grid-area: title;
}

.lastfm-artist {
  grid-area: artist;
}

.lastfm-timestamp {
  grid-area: timestamp;
  color: dimgray;
  text-decoration: underline;
  font-size: medium;
}
